nav {
    width: 100%;
    font-size: 1.05rem;
    font-weight: bold;
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
}

.bottomNav {
    position: relative;
}

nav p {
    margin-right: 10px;
}

nav .navPrenom {
    display: flex;
    justify-content: start;
}

nav .form-group {
    margin-right: 5px;
}

.navbar-brand {
    color: red !important;
}

nav a {
    color: black !important;
}

nav input {
    background-color: transparent !important;
}

#search {
    color: rgba(0, 0, 0, 1) !important;
    border: 2px solid #000;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 2.5rem;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    margin: 10px 0 10px 20px;
}

ul {
    margin: 0 !important;
}

li {
    list-style: none;
    padding-left: 0.5rem;
}

a {
    margin: 0 5px 0 0;
}

input {
    border: none;
}

i {
    padding-right: 8px;
}

.banniere {
    background-image: url("/images/sakura-himeji.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 55vh;
}

.container-fluid {
    margin-top: 100px;
    margin-bottom: 50px;
}

.conteneur {
    padding: 0 !important;
    margin: 100px auto 0 auto;
    width: 55vw;
    height: auto;
}

.postcard_details {
    width: 100%;
    margin: 0.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postcard {
    display: flex;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 2px rgba(0, 0, 0, 0.66);
    margin: 0 0 3rem 0;
}

.light {
    background: linear-gradient(135deg, rgba(2, 0, 36, 0) 0%, rgba(254, 230, 230, 0.25) 75%, rgba(252, 230, 254, 0.5) 100%);
}

.postcard_creation {
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
}

.small {
    font-size: 90%;
}

.postcard_bar {
    content: "";
    height: 5px;
    width: 50px;
    background: rgb(54, 54, 204);
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    transition: all linear 0.2s;
}

.postcard:hover .postcard_bar {
    width: 150px;
    transition: all linear 0.2s;
}

.postcard_body p {
    margin-top: 0.5rem;
    padding: 0 2.5rem;
}

.informations {
    display: flex;
    font-weight: bold;
    padding: 10px 10px 10px 2rem;
}

.informations li {
    margin: 0 1rem 0 0;
}

.conteneur article:nth-child(2n+1) .postcard_img {
    border-radius: 10px 0 0 10px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 35vh;
    max-width: 12vw;
    object-fit: cover;
    object-position: center;
}

.conteneur article:nth-child(2n+1) {
    flex-direction: row;
}

.conteneur article:nth-child(2n+0) .postcard_img {
    border-radius: 0 10px 10px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    height: 35vh;
    max-width: 12vw;
    object-fit: cover;
    object-position: center;
}

.conteneur article:nth-child(2n+0) {
    flex-direction: row-reverse;
}

.button_location {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.btn {
    font-weight: 600;
    border: 2px solid black;
}

.postcard_bot_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*********** DETAILS DE LA CARTE **********/

.detailedCard {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 480px;
    height: 720px;
    border: none;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card .face.front h2 {
    position: absolute;
    justify-content: center;
    color: #fff;
    bottom: 0;
}


/* DECALAGE DE LA CARD FRONT PAR RAPPORT A LA CARD BACK */

.card .face.front {
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 2;
    transform: translate(-10px, -10px);
}

.card:hover .face.front {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 1;
    transform: translate(260px, -10px);
    left: -250px;
    /* Position à la fin du translate */
}

.card .face.back {
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 1;
}

.card:hover .face.back {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 2;
    transform: translateX(-250px);
    left: 250px;
}

.card .face.front img {
    max-width: 100%;
    border-radius: 10px;
}

.card .face.back {
    background: linear-gradient(135deg, rgba(250, 220, 230, 0) 0%, rgba(250, 220, 230, 0.5) 75%, rgba(250, 220, 230, 1) 100%);
    background-color: #fff;
}

.card .face.back .contenu {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .face.back .contenu h2 {
    color: #000;
    margin: 0;
    padding: 0;
}

.card .face.back .contenu p {
    color: #000;
    margin: 10px 0 0;
    padding: 0;
    text-align: justify;
}


/***************************/

.commentaireWrapper {
    margin: 10px 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 15px;
}

#formAdd,
#formEdit {
    width: 80%;
}

.bottomWrapper {
    background: linear-gradient(315deg, rgba(187, 232, 196, 0) 0%, rgba(187, 232, 196, 0.5) 75%, rgba(187, 232, 196, 1) 100%);
    border-radius: 0 0 15px 15px;
}

.commentContent {
    margin: 0;
    position: relative;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid black;
}

.middlePart {
    max-width: 100%;
}

.commentContent .commentDelete {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 10px;
    background: transparent;
}

.commentContent .commentEdit {
    position: absolute;
    top: 0;
    right: 15px;
    border: none;
    border-radius: 10px;
    background: transparent;
}

.commentContent .commentDelete i {
    padding: 0;
}

.commentWrapper {
    border: 1px solid black;
}

.display-comment span {
    text-align: end;
}

.commentaireForm {
    font-size: 12px;
    margin: 0 10px;
}

.commentaireBtn {
    display: flex;
    justify-content: end;
}

.commentaireBtn input {
    background-color: white;
}

.commentaireSection {
    width: 45%;
    margin: 0 auto;
}

.ajoutForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.formWrapper {
    border: 1px solid black;
    padding: 30px 30px;
    border-radius: 0 0 15px 15px;
    background: linear-gradient(135deg, rgba(187, 232, 196, 1) 0%, rgba(250, 220, 230, 0) 50%, rgba(250, 220, 230, 1) 100%);
}

#formAdd h4,
#formEdit h4 {
    border: 1px solid black;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.pagination {
    justify-content: center;
}

.welcome {
    margin-right: 20px;
}

.presentation {
    margin-bottom: 100px;
}